@import "tailwindcss";
@source "../views";
@theme static {
  --color-midnight:#434366;
  --color-midnight-subtle:#65659a;
  --color-sage:var(--color-green-400);
  --color-sage-subtle:var(--color-green-300);
  --color-primary: var(--color-midnight);
  --color-primary-subtle: var(--color-midnight-subtle);
  --color-secondary: var(--color-sage);
  --color-secondary-subtle: var(--color-sage-subtle);
  --color-success:var(--color-green-400);
  --color-success-subtle:var(--color-green-300);
  --color-error: var(--color-red-400);
  --color-error-subtle: var(--color-red-300);
  --color-warning: var(--color-yellow-400);
  --color-warning-subtle: var(--color-yellow-300);
  --color-disabled: var(--color-gray-300);
  --color-grey: var(--color-gray-400);
  --color-grey-subtle: var(--color-gray-300);
}